body { font-size: 62.5%; }

.aviz-footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.aviz-footer-list {
    list-style: none;
    display: inline-block;
}

.aviz-footer-list li {
    display: inline;
}

.svg-input-box {
    stroke: steelBlue;
    fill: none;
    width: 20px;
    margin: 10px;
    text-align: center;
}

.controls {
    /*
    border: solid black 1px;
    padding: 5px;
    width: auto;
    max-width: 700px;
    font-weight: bold;
    */
}

pre.prettyprint {
    font-size: 1em;
}

.code {
    font-size: 1em;
    font-family: sans-serif;
}

.graphics {
    font-size: 1em;
    font-family: sans-serif;
}

/* Fix to make pretty-print print all line numbers */
.prettyprint ol.linenums > li { list-style-type: decimal; }

li.highlighted-row {
    background: #FFFF7F;
}

.jumbotron {
    margin-top: -10px;
    font-size: 1.26em;
}

.controls-header {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
}

.custom-controls-header {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 15px;
}

.controls-info-text {
    font-style: italic;
    font-size: 0.70em;
    padding-right: 15px;
    padding-left: 3px;
}

.default-controls {

}

#default-controls-next-btn {
    margin-top: 10px;
    margin-right: 5px;
}

.ctrl-button {
    outline: none;
}



/* control panel css3 animation */
.a-btn{
    background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    padding-right: 55px;
    height: 49px;
    display: inline-block;
    position: relative;
    border: 1px solid #5d81ab;
    box-shadow: 
        0px 1px 1px rgba(255,255,255,0.8) inset, 
        1px 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 
    0px 1px 1px rgba(255,255,255,0.8) inset, 
    1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 
    0px 1px 1px rgba(255,255,255,0.8) inset, 
    1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*float: left;
    clear: both;
    */
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.a-btn-icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon span{
    width: 42px;
    height: 42px;
    opacity: 0.8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -27px 0px 0px -27px;
    background: transparent url('assets/control_icons_sprite2.png');
    box-shadow: 
        0px 1px 1px rgba(255,255,255,0.3) inset, 
        0px 1px 2px rgba(255,255,255,0.5)
    -webkit-box-shadow: 
        0px 1px 1px rgba(255,255,255,0.3) inset, 
        0px 1px 2px rgba(255,255,255,0.5);
    -moz-box-shadow: 
        0px 1px 1px rgba(255,255,255,0.3) inset, 
        0px 1px 2px rgba(255,255,255,0.5);
/*   
     we don't need this because our play button transitions to a stop button when pressed
     transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
*/
}

.a-btn-icon span.next-btn {
    background-position: 50px 2px;
}

.a-btn-icon span.play-btn {
    background-position: 320px 2px;
    transition: all 0 ease 0;
    -webkit-transition: all 0 ease 0;
    -moz-transition: all 0 ease 0;

}

.a-btn-icon span.pause-btn {
    background-position: 263px 2px;
    transition: all 0 ease 0;
    -webkit-transition: all 0 ease 0;
    -moz-transition: all 0 ease 0;
}

.a-btn.enabled-btn:hover{
    box-shadow: 
        0px 1px 1px rgba(255,255,255,0.8) inset, 
        1px 1px 5px rgba(0,0,0,0.4); 
}
.a-btn.enabled-btn:hover .a-btn-icon span{
    opacity: 1;
}


.a-btn.enabled-btn:active {
    position:relative;
    top:1px;
    /*background: linear-gradient(top, #6f97c5 0%, #80a9da 100%);
    background: -webkit-linear-gradient(top, #6f97c5 0%, #80a9da 100%);
    */
    background: #5d81ab;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color: #80a9da;
}
.a-btn.enabled-btn:active .a-btn-icon span{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.a-btn.disabled-btn {
    background: gray;
}
.a-btn.disabled-btn .a-btn-icon {
    opacity: 0.5;
}
