.aviz-footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.aviz-footer-list {
    list-style: none;
    display: inline-block;
}

.aviz-footer-list li {
    display: inline;
}

.svg-input-box {
    stroke: steelBlue;
    fill: none;
    width: 20px;
    margin: 10px;
    text-align: center;
}

.controls {
    /*
    border: solid black 1px;
    padding: 5px;
    width: auto;
    max-width: 700px;
    font-weight: bold;
    */
}

pre.prettyprint {
    font-size: 16px;
}

.code {
    font-size: 12px;
    font-family: sans-serif;
}

.graphics {
    font-size: 12px;
    font-family: sans-serif;
}

/* Fix to make pretty-print print all line numbers */
.prettyprint ol.linenums > li { list-style-type: decimal; }

li.highlighted-row {
    background: #FFFF7F;
}

.jumbotron {
    margin-top: -10px;
    font-size: 21px;
}

.controls-header {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
}

.custom-controls-header {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 15px;
}

.default-controls {

}