.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.node {
    fill: white;
    stroke: steelBlue;
    stroke-width: 1.5px;
}

.cmp_result text {
    fill: red;
    stroke: red;
    stroke-width: 1.5px;
    font-size: 35px;
    pointer-events: none;
}

.node-rank {
    stroke-width: 1px;
    pointer-events: none;
}

.node-name {
    stroke-width: 1px;
    pointer-events: none;
}

.node {
    stroke-width: 1px;
}

.node.selected {
    fill: white;
    stroke: red;
    stroke-width: 1.5px;
}

.highlight-elem {
    stroke: red;
}
