.dsu-link {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}

.dsu-node {
    fill: #ccc;
    stroke: #333;
    stroke-width: 3px;
}

.cmp_result text {
    fill: red;
    stroke: red;
    stroke-width: 1.5px;
    font-size: 35px;
    pointer-events: none;
}

.dsu-node-rank {
    stroke-width: 1px;
    pointer-events: none;
}

.dsu-node-name {
    stroke-width: 1px;
    stroke: #333;
    fill: #333;
    pointer-events: none;
}

.dsu-node.selected {
    fill: white;
    stroke: red;
    stroke-width: 1.5px;
}

.highlight-elem {
    stroke: red;
}
