.n-value {
   font-size: 3.5em;
    /*stroke-width: 0.5px;*/
    stroke: red;
    fill: red;
    font-family: freeserif, serif; /*"Lucida Console", Courier, monospace;*/
}

.fft-poly {
    font-size: 3.5em;
    /*stroke-width: 0.5px;*/
    stroke: #333;
    font-family: freeserif, serif; /*"Lucida Console", Courier, monospace;*/
}

.fft-super {
    vertical-align: super;
    font-size: 0.8em;
    stroke-width: 0.5px;
    stroke: #333;
    font-family: freeserif, serif; /*"Lucida Console", Courier, monospace;*/
}

.fft-radio-button {
    background-image:none;
    background-color: white;
}

.root-of-unity-arrow {
    stroke: blue;
    stroke-width: 1.5px;
    fill: white;
    shape-rendering: geometricPrecision;
}

.root-of-unity-circle {
    stroke: green;
    stroke-width: 2px;
    fill: white;
    shape-rendering: geometricPrecision;
}

.fft-root {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #ccc;
    opacity: 1;
    shape-rendering: geometricPrecision;
}

.fft-text {
    stroke: #333;
    font-family: sans-serif;
    pointer-events: none;
}