.fft-poly {
    font-size: 3.5em;
    /*stroke-width: 0.5px;*/
    stroke: #333;
    font-family: freeserif, serif; /*"Lucida Console", Courier, monospace;*/
}

.fft-super {
    vertical-align: super;
    font-size: 0.8em;
    stroke-width: 0.5px;
    stroke: #333;
    font-family: freeserif, serif; /*"Lucida Console", Courier, monospace;*/
}