.hld-link {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.hld-link-highlighted {
    fill: none;
    stroke: #00f;
    stroke-width: 2px;
}

.hld-circle {
    cursor: move;
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

.hld-root-id {
    cursor: move;
    pointer-events: none;
    fill: #f00;
    stroke: none;
    font-size: small;
    font-family: monospace;
}

.hld-size-label {
    cursor: move;
    pointer-events: none;
    fill: #00f;
    stroke: #00f;
    font-size: small;
    font-family: monospace;
}

.hld-special-child-rect {
    fill: none;
    stroke: red;
}

.hld-special-child-lbl {
    pointer-events: none;
    stroke: none;
    fill: red;
    text-anchor: middle; 
    font-size: medium;
}

.hld-new-chain-lbl {
    pointer-events: none;
    stroke: none;
    fill: red;
    text-anchor: middle; 
    font-size: medium;
}
