.hld-link {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.hld-circle {
    cursor: move;
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

.hld-root-id {
    fill: #f00;
    stroke: #f00;
    font-size: small;
    font-family: monospace;
}